{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans 'Articles' %} {% endblock %}

{% block head %}
    <link href="{% static 'css/articles.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
    <div class="page-header">
        {% if not user.is_anonymous %}
            <a href="{% url 'write' %}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-pencil"></span> {% trans 'Write Article' %}
            </a>
            <!-- <a href="{% url 'drafts' %}" class="btn btn-default pull-right"
               style="margin-right: .8em">{% trans 'Drafts' %}</a> -->
        {% endif %}
        <h1>{% trans 'Articles' %}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-9">
                {% for article in articles %}
                <div class="col-xs-12 col-md-4">
                <section class="articles">
                <article>

                  <h3>
                      <!-- <a class="btn btn-default btn-lg btn-block" href="{% url 'article' article.slug %}"> -->
                          {{ article.title | slice:"10"  }}
                      <!-- </a> -->
                  </h3>
                  <!-- {{ if }} -->


                  <div class="info">
                      <!-- <div class="col-md-4"> -->

                        <a href="{% url 'article' article.slug %}">
                            <img class="img-thumbnail" src="{{article.get_img}}" alt="{{article.title}}" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;">
                        </a>

                        <button type="button" class="btn btn-default btn-xs btn-block" data-toggle="modal" data-target="#myModal{{ feed.get_book_id }}">
                            <h5 class="glyphicon glyphicon-plus">
                            <!-- <span  class="glyphicon glyphicon-plus"> -->
                            借阅
                        <!-- </span> -->
                        </h5>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal{{ feed.get_book_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">提示</h4>
                              </div>
                              <div class="modal-body">
                                您要借阅的是：{{ article.title }}
                                <img src="{{ article.get_img }}" data-holder-rendered="true" style="height: 400px; width: 100%; display: block;">
                              </div>
                              <div class="modal-footer">
                                  <form action="/feeds/followed/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="book_name" value="{{ article.title }}" />
                                    <input type="hidden" name="book_id" value="{{ article.slug }}" />
                                    <input type="hidden" name="mode" value="borrow_book" />
                                    <!-- <div class="modal-footer"> -->
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove"> 取消</span>

                                    </button>
                                    <button type="submit" class="btn btn-primary" value="">
                                        <span class="glyphicon glyphicon-ok"> 确定</span>
                                    </button>
                                    <!-- </div> -->

                                  </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      <!-- </div> -->
                    <span class="comments">
                      <span class="glyphicon glyphicon-comment"></span>
                      {{ article.get_comments.count }} {% trans 'Comments' %}
                    </span>
                  </div>
                </article>

                    <!-- <h4 class="no-data">{% trans 'There is no published article yet' %}. <a
                            <!-- href="{% url 'write' %}">{% trans 'Be the first one to publish' %}!</a>
                    </h4> -->

                </section>
                </div>
                {% endfor %}
        </div>
        <div class="col-xs-12 col-md-3 popular-tags">
            <h4>{% trans 'Popular Tags' %} </h4>
            {% for tag, count in popular_tags %}
                <a href="{% url 'tag' tag %}">
                    <span class="label label-{{ articles.0.get_colour }} ">
                        {{ count }} {{ tag }}
                    </span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'articles/paginator.html' with paginator=articles pages_sum=pages_sum %}
        </div>
    </div>
{% endblock main %}
